<nav class="navbar navbar-light  justify-content-between" style="background: #fcf45c;">
    <a class="navbar-brand" style="justify-content: center; margin-left: 20%;">
        <h4><img src="../../../assets/logpM.png" width="70px" style="margin-right: 20px ;"><strong> Paula Shop</strong></h4>
    </a>
    <div class="row" style="align-content:center; margin-right:20%;">
        <div class="col-8 justify-content-center">
            <input class="form-control size" type="search" (keyup.enter)="buscar(product.value)" placeholder="Buscar producto " aria-label="Search" #product>
        </div>
        <div class="col-4" style="height: 50%;">
            <button class="btn btn-primary" (click)="buscar(product.value)">Buscar</button>
        </div>
    </div>
</nav>