<app-navbar (product)=search($event)></app-navbar>
<!-- <div class="container col-md-10 ">
    <h5 class="results" *ngIf="paginate"><strong> Resultados para "<i>{{product}}</i></strong>"</h5>
    <div class="card card-height" *ngFor="let item of results | paginate: { itemsPerPage: 50, currentPage: p, totalItems: totalItemsPagination }; let i=index;" style="width: 18rem;">
        <div class="row no-gutters">
            <div class="row" style="vertical-align: middle;">
                <img src="{{item.thumbnail}}" class="shadow p-3 card-img-top size-img">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6><strong>Vendedor: </strong>{{sellers[i]?.nickname}}</h6>
                    <h6><strong>Precio: </strong>$ {{item.price}}</h6>
                    <button (click)="getIdProduct(item.id)" class="btn btn-primary ">Ver producto</button>
                </div>
            </div>
        </div>
    </div>

</div> -->
<div class="col-md-10  mt-4 mb-4">
    <h5 class="results" *ngIf="paginate"><strong> Resultados para: "<i>{{product}}</i></strong>"</h5>
    <div class="card-columns">
        <div class="card center" style="width: 18rem; margin: 10px;" *ngFor="let item of results | paginate: { itemsPerPage: 50, currentPage: p, totalItems: totalItemsPagination }; let i=index;">
            <div class="row no-gutters">
                <div class="row" style="vertical-align:middle;">
                    <div class="col-md-4 mr-2" style="margin: 1em;">
                        <img src="{{item.thumbnail}}" class="shadow p-3 card-img-top size-img">
                    </div>
                    <div class="col-md-6 title">
                        <h6 class="card-title">{{item.title}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <h6><strong>Vendedor: </strong>{{sellers[i]?.nickname}}</h6>
                    <h6><strong>Precio: </strong>$ {{item.price}}</h6>
                    <button (click)="getIdProduct(item.id)" class="btn btn-primary ">Ver producto</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="center mt-4" *ngIf="initial">
    <div class="alert alert-primary" style="text-align: center;" role="alert">
        <h5><strong>¡Buscar tu Producto!</strong></h5>
        Ingresa el producto que deseas consultar.
    </div>
</div>
<div class="alert alert-warning" style="text-align: center;" *ngIf="!alert">
    <h5><strong>¡Sin Productos!</strong></h5>
    No se encuentra reultados
</div>


<app-pagination (page)="pageChanged($event)" *ngIf="paginate"></app-pagination>